body {
    font-family: Arial;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #ff4d4d;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e60000;
}
